aside{
    float: left;
    background-color: grey;
    font-family: Arial;
}

ul{
    list-style-type :none;
    margin: 0;
    padding: 0;

}

a:link{
    
    text-decoration: none;
    color: white;
    background-color: grey;
}
a:visited{
    text-decoration: none;
    color: white;
    background-color: grey;
}

li a{
    display: block;
}
li hr{
    height: 4;
    color: black;
}

a{
    text-align: center;
    background-color: grey;
}


div{
    background-color: grey;
}

a.img{
    display: block;
    width: 60;
    height: 60;
}