body{
    font-family: Arial;
}
span{
    font-size: 60px;
}
#aside{
    float: left;
    width: 600px;
    height: 890px;
}
#lotto{
    width: 600px;
    height: 500px;
}
#jobb{
    background-color: white;
    margin-left: 40px;
}
.oszlop {
    flex: 20%;
    padding: 5px;
    background-color: white;
    white-space: nowrap;
}
.sor {
    display: flex;
    background-color: white;
    white-space: nowrap;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
a:link{
    text-decoration: none;
    color: white;
    background-color: grey;
}
a:visited{
    text-decoration: none;
    color: white;
    background-color: grey;
}
li{
    padding: 10px;
    padding-left: 20px;
}
a{
    text-align: center;
    background-color: grey;
}
div{
    background-color: grey;
}
a.img{
    display: block;
    width: 60px;
    height: 60px;
}
.line {
    height:1px;
    background:#fff;
    border-top:solid 1px #000;
    opacity:0.4;
    margin-left: 20px;
    margin-right: 20px;
}