body{
    font-family: Arial;
}

#aside{
    float: left;
    background-color: grey;
    width: 600px;
}

#lotto
{
    width: 600px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link{
    text-decoration: none;
    color: white;
    background-color: grey;
}
a:visited{
    text-decoration: none;
    color: white;
    background-color: grey;
}
li{
    padding: 10px;
    padding-left: 20px;
    border-bottom: 1px groove darkgrey;
}
a{
    text-align: center;
    background-color: grey;
}


div{
    background-color: grey;
}

a.img{
    display: block;
    width: 60px;
    height: 60px;
}